.item{
    border: 1px solid black;
    width: 400px;
    text-align: center;
}

.item:hover{
    background-color: rgb(111, 84, 84);
    cursor: help;
    box-shadow: 8px 8px24px gray; 
}

.article_list{
    display: inline-flex; 
    gap: 20px;
}

img{
    width: 200px;
}

body{
	background-color: rgb(154, 151, 223);
}